body {
    background-color: #f0f0f0;
    background-image: url("../img/Background_projects.jpg");
    background-size: cover;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}

.carousel-item img {
    width: 50%;
    max-height: 400px;
    object-fit: cover;
}

.carousel-item p {
    margin: 10px 0;
    text-align: center;
    font-size: 1em;
    color: #333;
}
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: black;
    color: white;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.car-cont {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 150px;
}

@media (max-width: 480px) {
    .carousel-item img {
        width: 90%;
    }

    button {
        padding: 6px;
    }
}
